html, body {
   height: 100%;
}

#logo{
    position: relative;
    width: 150px;
    height: 96px;
}
#top {
    background-color: #323232;
    color: #FFFFFF;
    height: 100px;
    margin: -100px 0 10px 0px;
    padding: 5px;
}

#bottom {
    background-color: #C2DFEF;
    margin: 10px 0 0 170px;
    padding: 5px;
    position: relative;
    width: auto;
}

#left {
    float: left;
    background-color: #ece3a5;
    position: relative; //colocar absolute para ficar do tamanho da janela
    padding: 5px;
    width: 150px;
    height: 100%;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.log{
    float: right;
    width: 445px; 
}

.logtitulos{
    margin-left: 10px;
}

.logfield{
    margin-left: 10px;
}

.logbtn{
    float: right;
    margin-right: 7px;
    margin-top: 5px;
    width: 72px;
}


